<div class="container">
    <form class="form" [formGroup]="loginForm">
        <h3 class="form-title">Login</h3>

        <div class="form-div">
            <label class="form-label" [ngClass]="hasErrors('email') ? 'error-input' : ''">
                Email <span class="required-star">*</span>
            </label>
            <input class="form-input" formControlName="email" [ngClass]="hasErrors('email') ? 'error-input' : ''" />
            <div class="errors" *ngIf="hasErrors('email')">
                <small *ngIf="hasError('email', 'required')">
                    This field is required
                </small>
                <small *ngIf="hasError('email', 'email')">
                    This field requires an email
                </small>
            </div>
        </div>

        <div class="form-div">
            <label class="form-label">
                Password <span class="required-star">*</span>
            </label>
            <input class="form-input" formControlName="password" type="password" />
            <div class="errors" *ngIf="hasErrors('password')">
                <small *ngIf="hasError('password', 'required')">
                    This field is required
                </small>
            </div>
        </div>

        <div class="errors" *ngIf="error !== ''">
            <small> {{ error }} </small>
        </div>

        <a routerLink="../register">Need an account ? Register here !</a>
        <a href="#">Forgot your password ?</a>

        <button type="submit" class="form-submit" (click)="login()">
            <p>Login</p>
        </button>
    </form>
</div>