.game-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3vh 0;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
}

.game-title {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

// return btn

.return-btn {
    margin-top: 4vh;
    padding: 2.1vh 3.8vh;
    background-color: transparent;
    border-radius: 0.8vw;;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--tertiary-color);
    z-index: 1;
    transition: color 500ms;
}

.return-btn::before,
.return-btn::after {
    content: '';
    display: block;
    width: 8.8vh;
    height: 8.8vh;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--tertiary-color);
    transition: 1s ease;
}

.return-btn::before {
    top: -2.5vh;
    left: -2.5vw;
}

.return-btn::after {
    left: calc(100% + 2.5vw);
    top: calc(100% + 2.5vh);
}

.return-btn:hover::before,
.return-btn:hover::after {
    height: 72.3vh;
    width: 72.3vh;
}

.return-btn:hover {
    color: var(--background-color   );
}

.return-btn:active {
    filter: brightness(.8);
}