// @use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
/* You can add global styles to this file, and also import other style files */
@import url('./custom-styles/auth.scss');

:root {
    --background-color: #16161a;
    --title-color: #fffffe;
    --text-color: #94a1b2;
    --secondary-color: #7f5af0;
    --tertiary-color: #2cb67d;
    --error: #ff0000;
    --coins: #f3c70d;
}

html,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'league-spartan', sans-serif;
}

h1 {
    font-size: 5.6vh;
}

h3 {
    font-size: 3.3vh;
}

p, label, a {
    font-size: 2.8vh;
}

span {
    font-size: inherit;
}

small {
    font-size: 2.1vh;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

/* Scrollbar bg */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 40px;
    background-clip: padding-box;
    transition: 300ms;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:visited {
    color: inherit;
}

h1, h2, h3, p {
    margin: 0;
}

.coins {
    color: var(--coins);
}